<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	Dear {{ recruiter.username }},
	<br><br>
	Thanks for submitting a referral. Finger crossed. We do hope
	<br>
	your candidate will be hired
</body>
</html>