<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	{% if url is None %}
		Dear {{ candidate }},
		<br><br>
		A recruiter, {{ recruiter.username }} has submitted a referral for you to apply for the
		<br>
		job "{{ job }}". Finger crossed. We do hope
		<br>
		you will be hired
	{% else %}
		Dear {{ candidate }},
		<br><br>
		A recruiter, {{ recruiter.username }} has submitted a referral for you to apply for the
		<br>
		job "{{ job }}".
		<br><br>
		If you are interested, please follow this url to apply the job:
		<br>
		{{ url }}
	{% endif %}
</body>
</html>