<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	Dear Admin,
	<br><br>
	A recruiter, {{ recruiter.username }} has submitted a referral for Candidate "{{ candidate }}"
	<br>
	to apply for the job "{{ job }}".
	<br><br>
	Recruiter's Referral so far: {{ referral_count }}
	<br>
	Recruiter's Successful Referral so far: {{ referral_success_count }}
</body>
</html>